{
  "name": "furble",
  "version": "$VERSION",
  "new_install_prompt_erase": true,
  "new_install_improv_wait_time": 0,
  "builds": [
    {
      "chipFamily": "$CHIP_FAMILY",
      "parts": [
        { "path": "firmware/furble-bootloader-$PLATFORM-$VERSION.bin", "offset": $BOOT_OFFSET },
        { "path": "firmware/furble-partitions-$PLATFORM-$VERSION.bin", "offset": 32768 },
        { "path": "firmware/furble-$PLATFORM-$VERSION.bin", "offset": 65536 }
      ]
    }
  ]
}
